*{
    box-sizing: border-box;
    justify-content: center;
    align-content: center; 
    margin: auto;

} 


.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(22, 126, 218, 0.25);
    background-color: whitesmoke;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0, 0.4rem 1.4rem 0 rgba(22, 126, 218, 0.25);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: aliceblue;
    
}

.choice-text{
    padding: 1.5rem;
    width: 100%;

}
.correct{
    background-color: rgb(98, 201, 98);
}
.incorrect{
    background-color: rgb(186, 25, 25);
} 
/*timer css*/
 .time{
    color:green;
    text-align: left;
    word-wrap: break-word;
    font-size: 2rem;
    padding-left: 2rem;

}

#main{
    color: black;
    display: flex;
   text-align: center;
    font-size: 2rem;
} 

/* Heads up display*/

#hud{
    margin: 0rem;
     display: flex;
    text-align: center;
    flex-direction: row;
    font-size: 2rem;
}


 .hud-main-text{
    justify-content: right;
    text-align: center;
    font-size: 2rem;
}

    #progressBar{
    justify-content: center;
    border: 0.3rem solid lightslategray;
    
     
}
.hud-prefix{
    text-align: center;
    padding: .5rem;
    font-size: 2rem;
}
#progressBarFull{
    height: 3.4rem;
    background-color: rgb(45, 99, 111);
    width: 0%;
    align-items: center;
} 



#loader{
    border: 1.6rem whitesmoke;
    border-radius: 25%; 
    border-top: 1.6rem solid white;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin{
0%{
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
  } 
} 

